[*.{c,c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
cpp_indent_braces = false
cpp_indent_style = tab
c_indent_braces = false
c_indent_style = tab
indent_style = tab
indent_size = 2
cpp_indent_within_parentheses = indent
cpp_indent_case_contents = true
cpp_indent_case_labels = true
cpp_indent_namespace_contents = true
cpp_new_line_before_open_brace_namespace = same_line
cpp_new_line_before_open_brace_type = same_line
cpp_new_line_before_open_brace_function = same_line
cpp_new_line_before_open_brace_block = same_line
cpp_new_line_before_open_brace_lambda = same_line
cpp_new_line_before_catch = false
cpp_new_line_before_else = false
cpp_indent_preserve_within_parentheses = true
cpp_indent_case_contents_when_block = true

[*.py]
indent_style = space
indent_size = 4